<div class="container">
    <div class="row">
        <div class="col-12 col-sm-7">
            <form [formGroup]="contactForm" class="form-contact">
                <div class="container mt-5">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <h3>
                                Contact me form
                            </h3>
                        </div>
                        <div class="col-12 col-sm-6">
                            <mat-form-field>
                                <input matInput type="text" id="name" formControlName="name" placeholder="name">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-6">
                            <mat-form-field>
                                <input matInput type="text" id="email" formControlName="email" placeholder="email">
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-6">
                            <mat-form-field>
                                <input matInput type="text" id="message" formControlName="message" placeholder="message">
                            </mat-form-field>
                        </div>        
                        <div class="col-12">
                            <button mat-flat-button color="accent" (click)="contactme()">
                                Contact me
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

