<footer class="bg-dark">
    <div class="container contenido_footer">
        <div class="row ">

            <div class="col-md-4 d-none d-sm-block">
                <ul class="list-unstyled">
                    <li  *ngFor="let meuItem of PrincipalLinks"><a [routerLink]="meuItem.link">{{meuItem.name}}</a></li>
                </ul>
            </div>
            <div class="col-md-8 mt-4">
                <app-socialmedialinks [PrimaryColorOrAccent]="true"></app-socialmedialinks>
            </div>
        </div>
        <hr>
        <div class="text-center">
            <p>&copy; 2023 J.D. Godínez All rights reserved.</p>
        </div>
    </div>
</footer>